
<p id="notice"><%= notice %></p>

<p class="pt-5">
<h1><%= @task.title %></h1>
	 <h5><%= @task.category.parent.title %> / <%= @task.category.title %></h5>
	<h6> Замовник: <%= User.find(@task.author_id).email %></h6>
</p>

<p>
  <strong>Опис:</strong>
  <%= @task.description %>
</p>
 
<p>
  <strong>Ціна:</strong>
  <%= @task.price %>
</p>
 <% if current_user.role == 'implementer' %>
 <% if !Order.where(task_id: @task).present? %>
<div><%= link_to 'Claim task', new_comment_path(user_id: current_user, task_id: @task), method: :get, class: 'btn btn-success' %></div>
<% elsif !@task.file.present? %>
<%= link_to 'Edit', edit_task_path(@task) %>
	
<% end %>
<% end %>


<% if @task.file.present? %>
<%= link_to 'Edit', edit_task_path(@task) %>
<br>
<% end %>

 <div class="col-lg-6 sm-12">
   <%= render 'comments/comment_show' %>
   </div>







