<div class="pt-5" align="center">
<h3 class="pt-5">Тех. підтримка</h3>
  <%= form_for @contact do |f| %>
<div class="field">
    <%= f.label :Тема %><br>
    <%= f.text_field :subject, :required => true %>
</div>

    <div class="field">
    <%= f.label :Запитання %><br>
    <%= f.text_area :message, :as => :text, :required => true %>    
</div>
<div class="field">
    <%= f.label :Email %><br>
    <%= f.email_field :email, :required => true %>
    </div>
    <br>
<div class="actions">
    <%= f.submit "Відправити запитання", :class => "btn btn-success btn-md"%>
    </div>
  <% end %>
</div>